{#def metadata, ui, record, extra_context #}

{% extends "oarepo_ui/detail.html" %}
{%- block head_links %}
    {{ super() }}
    {{webpack['oai_run_ui_components.js']}}
    {{ webpack['oai_run_ui_components.css']}}
{%- endblock %}
{% block record_main_content %}
<oai_run_ui.RunMain metadata={metadata} ui={ui}  record={record} ></oai_run_ui.RunMain>
{% endblock record_main_content %}
{% block record_sidebar %}
<oai_run_ui.RunSidebar record={record} extra_context={extra_context}></oai_run_ui.RunSidebar>
{% endblock record_sidebar %}


