{#def metadata, ui #}
<h1 class="ui header">{{ metadata.title or metadata.started }}</h1>
<dl class="ui very basic table">
    <dt>{{ _('harvester.label') }}</dt>
    <dd>
        <a href="/oai/harvest/harvesters/{{ metadata.harvester.id }}">&laquo; {{ metadata.harvester.name }}</a>
    </dd>

    <dt>{{ _('status.label') }}</dt>
    <dd>
        <Status>{{ metadata.status[-1] }}</Status>
    </dd>

    <Field label={ _('created.label') }> {{ metadata.created }}</Field>
    <Field label={ _('updated.label') }> {{ metadata.updated }}</Field>

    <dt>{{ _('started.label') }}</dt>
    <dd>
        {{ metadata.started }}
    </dd>
    {% if metadata.finished %}
        <dt>{{ _('finished.label') }}</dt>
        <dd>
            {{ metadata.finished }}
        </dd>
    {% endif %}
    {% if metadata.duration %}
        <dt>{{ _('duration.label') }}</dt>
        <dd>
            {{ metadata.duration }}
        </dd>
    {% endif %}

    <Field label={ _('id.label' ) }> {{ metadata.id }}</Field>
</dl>


<dl class="ui very basic table">

    <dt>{{ _('batches_links.label') }}</dt>
    <dd>
        <a href="/oai/harvest/batches/?q=&f=run_id%3A{{ metadata.id }}&l=list&p=1&s=10&sort=newest">&raquo; {{ _('batches_link.label') }}</a>
    </dd>

    {% if metadata.created_batches %}
        <dt>{{ _('created_batches.label') }}</dt>
        <dd>
            {{ metadata.created_batches }}
        </dd>
    {% endif %}
    {% if metadata.finished_batches %}
        <dt>{{ _('finished_batches.label') }}</dt>
        <dd>
            {{ metadata.finished_batches }}
        </dd>
    {% endif %}
    {% if metadata.warnings %}
        <dt>{{ _('warnings.label') }}</dt>
        <dd>
            {{ metadata.warnings }}
        </dd>
    {% endif %}
    {% if metadata.errors %}
        <dt>{{ _('errors.label') }}</dt>
        <dd>
            {{ metadata.errors }}
        </dd>
    {% endif %}
</dl>

