exclude tests/*
include *.rst
include *.md
include *.sh
include *.txt
include *.lock
include LICENSE
recursive-exclude .github/workflows *.yml
recursive-include oarepo_oaipmh_harvester *.scss
recursive-exclude tests *
recursive-include oarepo_oaipmh_harvester *.gitkeep
recursive-include oarepo_oaipmh_harvester *.jsx *.less *.json
recursive-include oarepo_oaipmh_harvester *.png *.svg
recursive-include oarepo_oaipmh_harvester *.css
recursive-include oarepo_oaipmh_harvester *.lock
recursive-exclude oarepo_oaipmh_harvester *.DS_Store
recursive-include oarepo_oaipmh_harvester *.yaml
recursive-include oarepo_oaipmh_harvester *.html
recursive-include oarepo_oaipmh_harvester *.jinja
recursive-include oarepo_oaipmh_harvester *.jinja2
recursive-include oarepo_oaipmh_harvester *.js
recursive-include oarepo_oaipmh_harvester *.jsx
recursive-include oarepo_oaipmh_harvester *.overrides
recursive-include oarepo_oaipmh_harvester *.variables
recursive-include oarepo_oaipmh_harvester *.po
recursive-include oarepo_oaipmh_harvester *.mo
recursive-include oarepo_oaipmh_harvester *.pot
