exclude tests/*
recursive-include oarepo_oaipmh_harvester *.yaml
recursive-include oarepo_oaipmh_harvester *.json
recursive-include oarepo_oaipmh_harvester *.html
recursive-include oarepo_oaipmh_harvester *.jinja2
recursive-include oarepo_oaipmh_harvester *.less
recursive-include oarepo_oaipmh_harvester *.js
recursive-include oarepo_oaipmh_harvester *.overrides
recursive-include oarepo_oaipmh_harvester *.variables
recursive-include oarepo_oaipmh_harvester *.po
recursive-include oarepo_oaipmh_harvester *.mo
recursive-include oarepo_oaipmh_harvester *.pot
