{#def metadata, ui#}

<h1 class="ui header">{{ metadata.name }}</h1>
<dl class="ui very basic table">
    <Field label={ _('code.label') }>{{ metadata.code }}</Field>
    <Field label={ _('baseurl.label') }> {{ metadata.baseurl }}</Field>
    <Field label={ _('metadataprefix.label') }>{{ metadata.metadataprefix }}</Field>
    <Field label={ _('setspecs.label') }>{{ metadata.setspecs }}</Field>
    <Field label={ _('max_records.label') }>{{ metadata.max_records }}</Field>
    <Field label={ _('created.label') }> {{ metadata.created }}</Field>
    <Field label={ _('updated.label') }> {{ metadata.updated }}</Field>
    {% if metadata.comment %}
    <dt>{{ _('comment.label') }}</dt>
    <dd>
        {{ metadata.comment }}
    </dd>
    {% endif %}
</dl>


<dl class="ui very basic table">
    <dt>{{_('runs.label')}}</dt>
    <dd>
        <a href="/oai/harvest/runs/?q=&f=harvester_id%3A{{metadata.id}}&l=list&p=1&s=10&sort=newest">&raquo; {{_('runs_link.label')}}</a>
    </dd>

    <Field label={ _('loader.label') }> {{ metadata.loader }}</Field>
    <Field label={ _('writer.label') }>{{ metadata.writer }}</Field>
    <dt>{{ _('transformers.label') }}</dt>
        <dd>
        {% for i in (metadata.transformers or []) %}
            {{ i }}<br/>
        {% endfor %}
    </dd>
    <Field label={ _('batch_size.label') }>{{ metadata.batch_size }}</Field>
</dl>


