{#def search_app_config #}
{%- set title = _("Search results") %}
{%- extends config.BASE_TEMPLATE %}

{%- block javascript %}
  {{ super() }}
  {{ webpack['oai_harvester_ui_components.js']}}
  {{ webpack['oai_harvester_search.js'] }}
{%- endblock %}
{%- block page_body %}
<div class="ui container rel-mt-5">
  <div
    data-invenio-search-config='{{ search_app_config | tojson}}'
  ></div>
</div>
{%- endblock page_body %}