{#def metadata, ui, record, extra_context #}

{% extends "oarepo_ui/detail.html" %}
{%- block head_links %}
    {{ super() }}
    {{webpack['oai_batch_ui_components.js']}}
    {{ webpack['oai_batch_ui_components.css']}}
{%- endblock %}
{% block record_main_content %}
<oai_batch_ui.BatchMain metadata={metadata} ui={ui}  record={record} extra_context={extra_context}></oai_batch_ui.BatchMain>
{% endblock record_main_content %}
{% block record_sidebar %}
<oai_batch_ui.BatchSidebar record={record} extra_context={extra_context}></oai_batch_ui.BatchSidebar>
{% endblock record_sidebar %}



