{#def metadata, ui, extra_context #}


<h1 class="ui header">{{ _('batch.run.number.label') }} {{ metadata.sequence }}</h1>
<dl class="ui very basic table">
    <Field label={ _('id.label') }> {{ metadata.id }}</Field>
    <dt>{{ _('run.label') }}</dt>
    <dd>
        <a href="/oai/harvest/runs/{{ metadata.run.id }}">
            &laquo; {{ metadata.harvester.name }} / {{ metadata.run.title or metadata.run.started }}
        </a>
    </dd>
    {% if extra_context.failed_records %}
        <dt>{{ _('failed_records.label') }}</dt>
        <dd>
            {% for record in extra_context.failed_records %}
                <b><a href="{{ record.url }}">&raquo; {{ record.oai_identifier }}</a></b>
                {% if record.title %} - {{ record.title }}{% endif %}<br>
                {% for err in record.errors %}
                    <span class="error_location">{{ err.location }}</span>:
                    <span class="error_message">{{ err.message }}</span><br>
                {% endfor %}
            {% endfor %}
        </dd>
    {% endif %}
    {% if extra_context.ok_records %}
        <dt>{{ _('ok_records.label') }}</dt>
        <dd>
            {% for record in extra_context.ok_records %}
                <a href="{{ record.url }}">&raquo; {{ record.oai_identifier }}</a>
                {% if record.title %} - {{ record.title }}{% endif %}<br>
            {% endfor %}
        </dd>
    {% endif %}
</dl>

<dl class="ui very basic table">
    <dt>{{ _('status.label') }}</dt>
    <dd>
        <Status>{{ metadata.status[-1] }}</Status>
    </dd>
    <dt>{{ _('started.label') }}</dt>
    <dd>
        {{ metadata.started }}
    </dd>
    <dt>{{ _('finished.label') }}</dt>
    <dd>
        {{ metadata.finished }}
    </dd>
    <Field label={ _(
    'created.label') }> {{ metadata.created }}</Field>
    <Field label={ _(
    'updated.label') }> {{ metadata.updated }}</Field>
</dl>

