
    {% if content == 'O' %}
        {{ _('status.enum.O') }}
    {% elif content == 'E' %}
        {{ _('status.enum.E') }}
    {% elif content == 'W' %}
        {{ _('status.enum.W') }}
    {% elif content == 'R' %}
        {{ _('status.enum.R') }}
    {% elif content == 'I' %}
        {{ _('status.enum.I') }}
    {% elif content == 'S' %}
        {{ _('status.enum.S') }}
    {% endif %}
