{#def metadata, ui #}
<h1 class="ui header">{{ metadata.oai_identifier }}</h1>
<dl class="ui very basic table">
    <dt>{{ _('ID') }}</dt>
    <dd>
        {{ metadata.id }}
    </dd>
    <dt>{{ _('oai_identifier.label') }}</dt>
    <dd>
        {{ metadata.oai_identifier }}
    </dd>
    <Field label={ _(
    'created.label') }> {{ metadata.created }}</Field>
    <Field label={ _(
    'updated.label') }> {{ metadata.updated }}</Field>
    <dt>{{ _('batch.label') }}</dt>
    <dd>
        <a href="/oai/harvest/batches/{{ metadata.batch.id }}">{{ _('batch.label') }}</a>
    </dd>
    {% if metadata.local_record_url %}
    <dt>{{ _('record_data.label') }}</dt>
    <dd>
        <a href="/docs/{{ metadata.local_record_url }}">{{ _('record.label') }}</a>
    </dd>
    {% endif %}
    <dt>{{ _('warnings.label') }}</dt>
    <dd>
        <ul>
            {% for i in (metadata.warnings or []) %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </dd>

    <dt>{{ _('errors.label') }}</dt>
    <dd>
        <ul>
            {% for i in (metadata.errors or []) %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </dd>


</dl>