{#def metadata, ui,  record, extra_context #}

{% extends "oarepo_ui/detail.html" %}
{%- block head_links %}
    {{ super() }}
    {{webpack['oai_record_ui_components.js']}}
    {{ webpack['oai_record_ui_components.css']}}
{%- endblock %}
{% block record_main_content %}
<oai_record_ui.OaiRecordMain metadata={metadata} ui={ui}  record={record} ></oai_record_ui.OaiRecordMain>
{% endblock record_main_content %}
{% block record_sidebar %}
<oai_record_ui.OaiRecordSidebar record={record} extra_context={extra_context}></oai_record_ui.OaiRecordSidebar>
{% endblock record_sidebar %}


