{{ _('code.label') }}
{{ _('baseurl.label') }}
{{ _('metadataprefix.label') }}
{{ _('setspecs.label') }}
{{ _('max_records.label') }}
{{ _('created.label') }}
{{ _('updated.label') }}
{{ _('loader.label') }}
{{ _('writer.label') }}
{{ _('batch_size.label') }}
{{ _('id.label') }}
{{ _('created.label') }}
{{ _('updated.label') }}
{{ _('id.label' ) }}
